*{
    margin: 0px;
    padding: 0px;
    box-sizing: none;
    font-family: Arial, Helvetica, sans-serif;
}

nav{
    background-color: #353b49;
    width: 100vw;
    height: 5vh;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    float: left;
}
 
a {
    color: #ebeaef;
    font-size: large;
    text-decoration: none;
    display: block;
    padding: 8px;
}

body{
    height: 100vh;
    background: #ebeaef;
    /* text-align: center; */
}


section p{
    margin: 1rem 25rem;

}

h2, h3{
    font-family: Arial, Helvetica, sans-serif;
    margin: 1rem 25rem;
}

img{
    border-radius: 50%;
    margin: 1rem 25rem;
}