*{
    font-family: 'Times New Roman', Times, serif;
}

ul {
    list-style-type: none;
    margin: 2rem;
    padding: 0;
}

li {
    float: left;
}
 
a {
    display: block;
    padding: 8px;
    background-color: #dddddd;
}

body{
    margin: 5rem;
}

h2, h3{
    font-family: Arial, Helvetica, sans-serif;
}